.ant-layout-sider .ant-menu {
  padding-top: 0 !important;
}

.ant-layout-sider .ant-menu-inline {
  display: block;
}

.ant-layout-sider .ant-menu-item,
.ant-layout-sider .ant-menu-submenu-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ant-layout-sider .ant-menu-item .ant-menu-item-icon,
.ant-layout-sider .ant-menu-submenu-title .ant-menu-item-icon {
  margin-inline-end: 0;
}

